{% extends 'blog/base.html' %}
{% block content %}
<div class="d-flex flex-column align-items-center" style="width: 100%">
    <h1>Додати пост</h1>
    <div class="post p-3 bg-white" style="width: 50%; border-radius: 20px;">
        <div class="d-flex justify-content-between">
            <p class="h4">{{ user.username }}</p>
        </div>
    <form method="post" id="add_post">
    {% csrf_token %}
    {{ form.content }}
    </form>
    </div>
    <input form="add_post" class="btn btn-primary" style="width:45%; border-radius: 20px;" type="submit" value="Додати">
</div>
{% endblock %}