{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        body {
            padding: 20px;
        }
        h2 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h2>Реєстрація</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
</body>
</html>